html,
body,
#root {
    -webkit-font-smoothing: antialiased;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    overflow: hidden !important;
    margin: 0px;
    padding: 0px;

}

canvas {
    touch-action: none;
}

h1 {
    text-align: center;
    font-size: 26px;
}

h2 {
    color: #ffe600;
    font-size: 16px;
    text-align: center;
}

p {
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**
 * Wrap
 */

.liveText>div {
    /* position: absolute; */
    background: #000000;
    color: #ffffff;
    border-top: solid;
    border-color: #ffe600;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 200px;
    overflow: hidden;
    overflow: auto;
    overflow-wrap: break-word;
    white-space: normal;

}
@media (max-width: 580px) {
    .liveText>div {
        /* position: absolute; */
        background: #000000;
        color: #ffffff;
        border-top: solid;
        border-color: #ffe600;
        cursor: pointer;
        overflow: hidden;
        width: 170px;
        height: 200px;
        overflow: hidden;
        overflow: auto;
        overflow-wrap: break-word;
        white-space: normal;
    
    }
    h1 {
        text-align: center;
        font-size: 20px;
    }
}
/**
 * Images
 */
.Image img {
    width: 400px;
}

.Image h1 {
    font-size: 50px;
    color: #fff;
}

.Image:hover {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/**
 * Interface
 */
.interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: 'Cinzel';
    z-index: 9999999;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/**
  * Controls
  */
.controls {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    cursor: pointer;

}

.controls .raw {
    display: flex;
    justify-content: center;
}

.controls .key {
    width: 34px;
    height: 28px;
    margin: 4px;
    border: 1px solid #eeb609;
    background: #ffe60044;
    pointer-events: auto;
    cursor: pointer;


}

.controls .key.large {
    width: 124px;

}

.controls .key.active {
    background: #ffe60099;

}

/**
  * Collect 
  */
.collect {

    position: absolute;
    top: 1%;
    left: 0;
    width: 100%;
    color: #ffffff99;
    font-size: 1.5vh;
    pointer-events: none;

}

.collectHit {
    text-align: right;
    padding: 5px 5px;

}

.collectHit.active {
    color: #ffe600;
}

/**
  * Winner
  */

.winnerHit {

    display: none;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #039f00;
    font-size: 96px;
    background: #000000;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;

}

.winnerHit img {
    position: absolute;
}

.winnerText {
    font-size: 36px;
    position: absolute;
    top: 86%;
    background: #000000;
    color: #ffe600;
    text-align: center;
    width: 100%;
}

.winnerHit.active {
    color: #039f00;
    display: flex;
}